main h1 {
  font-size: 3.5vmin;
  text-align: center;
  margin-top: 15px;
  color: chocolate;
}

.inputs,
.results {
  padding: 10px;
  max-width: 800px;
  margin: 25px auto;
}

.results {
  font-weight: 800;
  text-align: center;
  border: 2px solid chocolate;
  box-shadow: 2px 2px 5px lightgray;
}
.results .coef {
  font-size: 20px;
}
